@import "../../assets/styles/base/mixins"

$color: rgba(0, 0, 0, 0.117647)

.card
  @include rounded
  @include box-shadow

  flex: 1
  display: flex
  flex-direction: column
  width: 200px

  margin: 2em .8em
